header {
  text-align: center;
  margin-bottom: 4rem;
}
header input {
  padding: 8px;
  font-size: inherit;
  width: 240px;
  border-radius: 6px;
  border: 1px solid #333;
}
header .button {
  position: absolute;
  top: 40px;
  right: 60px;
}

.button {
  background-color: seagreen;
  color: #fff;
  border: 1px solid green;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
}
.loader {
  width: 100%;
  text-align: center;
}
.books-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;
}
.single-book {
  width: 200px;
  height: 250px;
  padding: 16px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 2px 8px #0001;
  transition: all 0.4s ease-in-out;
}
.single-book:hover {
  box-shadow: 2px 3px 12px #0003;
  transform: translateY(-2px);

}
.single-book .title, .books-section .edition {
  margin-bottom: 1rem;
  display: flex;
  gap: 6px;
}
.single-book span {
  flex: 1;
}
.single-book .button-wrap {
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    text-align: left;
    padding: 0 20px;
  }
  header .button {
    right: 20px;
  }
}